<div class="menuleft"
			ng-class="{active:$root.showleftmenu}"
			ng-click="$event.stopPropagation();" ng-controller="LeftMenuCtrl">


	<div class="content-container" ng-class='{active:shownItem}'>
		<ul class="nav nav-pils nav-stacked" ng-if="authed">
			<li ng-click="showItem('authorizations')">
				<a class="fa fa-angle-right"></a>
				<a>Authorizations</a>
			</li>
            <li ng-click="logout();">
				<a>Log Out</a>
			</li>
		</ul>
		<div class="left-menu-content">
			<button class="btn btn-link" ng-click="shownItem=''">
				<span class="fa fa-angle-left"></span>
				<span>Back</span>
			</button>
			<div class="leftmenuitembody authorizations" ng-class="{active:shownItem==='authorizations'}">
               <ul class="authorization-list">
                    <li ng-repeat="auth in authorizationList">
                      <a ng-click="authRedirect(auth)"><span ng-class="(auth.active==true) ? 'fa fa-minus' : 'fa fa-plus'"></span> {{auth.name | capitalize}}</a>
                    </li>
               </ul>
			</div>
		</div>
	</div>
</div>
