<div class="menuleft"
			ng-class="{active:$root.showleftmenu}"
			ng-click="$event.stopPropagation();" ng-controller="LeftMenuCtrl">


	<div class="content-container" ng-class='{active:shownItem}'>
		<ul class="nav nav-pils nav-stacked">
			<li ng-click="showItem('settings')">
				<a class="fa fa-angle-right"></a>
				<a>Settings</a>
			</li>
			<li ng-click="logout();">
				<a>Log Out</a>
			</li>
			<li ng-click="showItem('authorizations')">
				<a class="fa fa-angle-right"></a>
				<a>Authorizations</a>
			</li>
			<li ng-click="showItem('developers')">
				<a class="fa fa-angle-right"></a>
				<a>Developers</a>
			</li>
			<li ng-click="showItem('invite')">
				<a class="fa fa-angle-right"></a>
				<a>Invite</a>
			</li>
			<li ng-click="showItem('contact')">
				<a class="fa fa-angle-right"></a>
				<a>Contact Us</a>
			</li>
			<li ng-click="showItem('feedback')">
				<a class="fa fa-angle-right"></a>
				<a>Feedback</a>
			</li>
		</ul>
		<div class="left-menu-content">
			<button class="btn btn-link" ng-click="shownItem=''">
				<span class="fa fa-angle-left"></span>
				<span>Back</span>
			</button>
			<div class="leftmenuitembody settings" ng-class="{active:shownItem==='settings'}">
				<form class="app-settings">
					<label for="timezone">Time Zone</label>
					<input name="timezone" type="text" placeholder="Time Zone"></input>
				</form>
			</div>
			<div class="leftmenuitembody invite" ng-class="{active:shownItem==='invite'}">
				Invite your friends!  Somehow.
			</div>
			<div class="leftmenuitembody developers" ng-class="{active:shownItem==='developers'}">
				You can customize Realize.
				Github link
				links to tutorials.
			</div>
			<div class="leftmenuitembody authorizations" ng-class="{active:shownItem==='authorizations'}">
				authorizations content
			</div>
			<div class="leftmenuitembody contact" ng-class="{active:shownItem==='contact'}">
				<a href="mailto:hello@realize.pe" target="_top">Contact Us</a>
			</div>
			<div class="leftmenuitembody feedback" ng-class="{active:shownItem==='feedback'}">
				Have idea, suggestions, comments? Give us feedback and vote on suggested features with <a href="realize.uservoice.com">Uservoice</a>.
			</div>
		</div>
	</div>
</div>
