<div class="widget-body">
  <form>
    <p>{{getMessage}}</p>
    <p>{{postMessage}}</p>


    <p class="form-group"><label for='email'>Email</label><input type='email' ng-model="formData.email"></input></p>
    <p class="form-group"><label for='password'>Password</label><input type='password' ng-model="formData.password"></input></p>
    <p class="form-group"><label for='remember-me'></label><input name="remember-me" type='checkbox'></input></p>

    <button
      class="btn btn-success btn-lg btn-block"
      type="submit"
      ng-click="login?loginOrRegister('login'):loginOrRegister('register')"
      >
      {{$parent.login?'Login':'Register'}}
    </button>

    <h4><a logout ng-click="logout()">Logout</a></h4>
  </form>
</div>