<div ng-controller="DashboardCtrl">
    <div>Dashboard</div>
    <div class="dropdown">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Add Widget <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="widget in items">
                <a ng-click="add(widget)">{{widget.title}}</a>
            </li>
        </ul>
    </div>
    <div class="wrapper" ng-non-bindable data-$injector="">
        <div id="widget-container">

        </div>
    </div>
</div>