<div ng-controller="RegisterCtrl">
    <h2>Sign up for Realize</h2>
    <form>

        <p class="form-group"><label for='email'>Email</label><input type='email' ng-model="data.email"></input></p>
        <p class="form-group"><label for='password'>Password</label><input type='password' ng-model="data.password"></input></p>

        <button
                class="btn btn-success btn-lg"
                type="submit"
                ng-click="register()"
                >
            Register
        </button>

    </form>
</div>