<div class="dashboard">
  <div class="login" ng-if="login" ng-controller="LoginCtrl">
    <h3>login</h3>
    <ng-include="login.tpl.html">
  </div>
  <div class="register" ng-if="register" ng-controller="LoginCtrl">
    <h3>Register</h3>
    <ng-include="login.tpl.html">
  </div>
  <div class="moreinfo" ng-show="moreinfo">
    <a ng-click="login=1;moreinfo=0;">Login</a>
    <a ng-click="register=1;moreinfo=0;">Register</a>
  </div>

  <!-- <div ng-repeat="widget in $root.activeWidgets">{{widget.name}}</div> -->
</div>