<div class="ehr-modules">
    <div id="profile" ng-if="data.typeToShow === 'profile'">
        <section class="profile">
            <h3>{{data.summary.demographics.name.given[0]}} {{data.summary.demographics.name.given[1]}}</h3>
            <div class="card" ng-repeat="result in data.summary.vitals[0].results">
                <h4>{{result.name}}</h4>
                <p>{{result.value}} {{result.unit}}</p>
            </div>
        </section>
    </div>

    <div ng-if="data.typeToShow === 'allergies'">
        <section class="allergies">
        <h3>Allergies</h3>
            <div class="card" ng-repeat="allergen in data.summary.allergies">
                <h4>{{allergen.allergen.name}}</h4>
                <p>{{allergen.severity}}</p>
            </div>
        </section>
    </div>

    <div ng-if="data.typeToShow === 'medications'">
        <section class="medications" >
            <h3>Medications</h3>
            <div class="card" ng-repeat="medication in data.summary.medications">
                <h4>{{medication.product.name}}</h4>
                <p>{{medication.date_range.start | formatdate}} - {{medication.date_range.end | formatdate}}</p>
            </div>
        </section>
    </div>

    <div ng-if="data.typeToShow === 'problems'">
        <section class="problems" >
            <h3>Conditions</h3>
            <div class="card" ng-repeat="problem in data.summary.problems">
                <h4>{{problem.name}}</h4>
                <p>{{problem.date_range.start | formatdate}} - {{problem.date_range.end | formatdate}}</p>
            </div>
        </section>
    </div>
</div>

<style>
    .ehr-modules section{
        margin-bottom: 50px;
        clear:both;
        padding-top: 10px;
        padding-bottom: 10px;
        clear:both;
    }
    .ehr-modules  h3{
        text-align: center;
        margin-bottom: 20px;
    }

    .card{
        margin-left: 0.5%;
        margin-right:0.5%;
        border: 1px solid rgb(99,185,255);
        padding: 20px;
        padding-top: 15px;
        padding-bottom: 20px;
        background-color: rgb(237,247,255);
        color: black;
        margin-bottom: 10px;
        margin-top: 0px;
        float:left;
        width: 24%;
    }

    .card .row{
        font-family: "HelveticaNeue", sans-serif;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card p{
        font-size: 16px;
        font-family: "HelveticaNeue-Light";
        margin-top: 10px;
    }

    .ehr-modules  h4, .ehr-modules  p{
        text-align: left;
    }

    .profile h4{
        margin-bottom: 0px;
        font-size: 14px;
    }

    .profile p{
        font-size: 24px;
        margin-top: 5px;
    }
    .allergies h4{
        font-size: 16px;
    }
    .medications h4{
        margin-bottom: 20px;
    }
    .medications p{
        font-size: 14px;
    }
    .directionality .fa{
        font-size: 40px;
    }
    @media(max-width:1024px){
        .card{
            width: 32.3333%;
        }
    }
    @media(max-width:768px){
        .card{
            width: 49%;
        }
    }
    @media(max-width:640px){
        .card{
            width: 98%;
            margin-left: 1%;
            margin-right:1%;
        }
    }
</style>