<div id="profile" class="card row" ng-if="data.typeToShow === 'profile'">
    <div class=" title">
        <h1 class="col-xs-12">{{data.summary.demographics.name.given[0]}} {{data.summary.demographics.name.given[1]}}</h1>
    </div>
    <div>
        <div class="col-xs-4">Height<br><span class="value">{{data.summary.vitals[0].results[0].value}} {{data.summary.vitals[0].results[0].unit}}</span></div>
        <div class="col-xs-4">Weight<br><span class="value">{{data.summary.vitals[0].results[1].value}} {{data.summary.vitals[0].results[1].unit}}</span></div>
    </div>
</div>

<div class="card row" ng-if="data.typeToShow === 'allergies'">
    <h3>Allergies</h3>
    <div class="allergy-card col-md-3" ng-repeat="allergen in data.summary.allergies">
        <div ng-if="allergen.status == 'Active'">
            <div class="title">
                <h4>{{allergen.allergen.name}}</h4>
            </div>
            <div>
                <p>{{allergen.severity}}</p>
            </div>
        </div>
    </div>
</div>

<div class="card row" ng-if="data.typeToShow === 'medications'">
    <h3>Medications</h3>
    <div class="medication-card col-md-3" ng-repeat="medication in data.summary.medications">
        <div>
            <div class="title">
                <h4>{{medication.product.name}}</h4>
            </div>
            <div>
                <p>{{medication.dose_quantity.value}} {{medication.dose_quantity.unit || ''}}</p>
                <p>{{medication.rate_quantity.value}} {{medication.rate_quantity.unit || ''}}</p>
                <p>{{medication.date_range.start | formatdate}} - {{medication.date_range.end | formatdate}}</p>
            </div>
        </div>
    </div>
</div>

<div class="card row" ng-if="data.typeToShow === 'problems'">
    <h3>Conditions</h3>
    <div class="problem-card col-md-3" ng-repeat="problem in data.summary.problems">
        <div>
            <div class="title">
                <h4>{{problem.name}}</h4>
            </div>
            <div>
                <p>{{problem.date_range.start | formatdate}} - {{problem.date_range.end | formatdate}}</p>
            </div>
        </div>
    </div>
</div>

<style>

.allergy-card{
    display: inline;
}

.medication-card p {
    font-size: 15px;
}
.card{
    margin: 20px;
    padding: 20px;
}

.card img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.value{
    font-size: 180%;
}

.value .unit{
    font-size: 70%;
}

p{
    font-size: 20px;
}

	</style>